/* forms */

.simple_form {
    color: #444;
    line-height:1.6;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 1ch;
    font-family: monospace;
    font-size: 120%;
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
    outline: none;
}

select, button {
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
}


.inline_form {
    display: inline;
}


/* use same font on all buttons and input fields */

input {
    font-family: Barlow, sans-serif;
    font-weight: 400;
}

button {
    font-family: Barlow, sans-serif;
    font-weight: 400;
}


/* keep color of visited links in the private part always blue */
a:visited {
    color: #00008b;
}


/* logout link */
.logout {
    text-align:right; 
    margin-top:0; 
    margin-bottom: 0;
}

/* edit menu */

.edit_menu {
    border-bottom: 1px solid gray;
    margin-top: 0;
    margin-bottom: 0;
}

.edit_menu ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 0;
}

.edit_menu li {
    display: inline-block;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 0.2ch;
    padding-top: 0.2ch;
    margin-bottom: -1px;
    float: left;
}
            
.selected {
    border-bottom: none;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

/* List of posts/pages in overview */

.list_of_posts {
    list-style-type: none; 
    padding-left: 0;
}

/* format for information about post status */

.published {
    color: green; 
    font-size: 80%;
}

.draft {
    color: orange; 
    font-size: 80%;
}


/* preview frame*/

.preview {
    border: 1px dotted gray; 
    padding: 2em;
}









