@font-face {
	font-family: 'Barlow';
	font-weight: 400;
	font-style: normal;
	src: url('Barlow-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Barlow';
	font-weight: 500;
	font-style: normal;
	src: url('Barlow-Medium.woff') format('woff');
}



body {
    display: grid;
    grid-template-columns:
        1fr
        min(80ch, 100%)
        1fr;
    color: #444;
    line-height:1.6;
    font-family: Barlow, sans-serif;
    font-weight: 400;
}

body > * {
    grid-column: 2;
}

h1, h2, h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
}

p {
    margin-top: 0.5em;
}


a {
    text-decoration: none;
    padding: 2px;
    color: #00008b;
}

a:hover {
    background-color: #fdfdaf;
}



/* default table format */

table {
    width: max-content;
    font-size: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid #E5E4E2;
}

tr:nth-child(even) { 
    background-color: #E5E4E2; 
} 

td {     
    border: none;
    padding: 0.5ch;
}


/* navigation and pinned pages */

.navigation ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid gray;
}

.navigation li {
    display: inline-block;
    padding-right: 3ch;
    padding-left: 0;
    margin-left: 0;
}


/* footer */

.date {
    font-size: small;
}


/* date in the list of posts */

.b_date {
    font-family: monospace;
    font-size: 120%;
}


/* style for images */

img {
    max-width: 100%;
    box-shadow: 4px 4px 6px 2px gray;
}



























