<html>
    <head>
        <title>{{ title }}</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">
        
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/forms.css">
        <link rel="stylesheet" href="static/dropzone.css">
        <script src="static/dropzone.js"></script>
        <script>
            function copyToClipBoard (element_id) {
                var copyText = document.getElementById(element_id);
                copyText.select();
                document.execCommand("copy");
            }
        </script>
    </head>
    <body>
        <p class="logout"><a href="{{url_for('logout')}}">Log out</a></p>
        
        {% block content %}{% endblock %}
        
    </body>
</html>
